extends layout

block content
    h1 Albums
    p
        a(href="") New Album &nbsp;
    table
        thead
            tr
                th Genre
                th Album
                th Artist
